---
import Layout from '@/layouts/Layout.astro';
import Card01 from '@/components/Card01.astro';
import Card02 from '@/components/Card02.astro';
import Card03 from '@/components/Card03.astro';
import Tarjeta from '@/components/Tarjeta.astro';
import Card04 from '@/components/Card04.astro';

---

<Layout>
	<main class="min-h-screen flex flex-col ">
		<Card03 />
		<Card01 />
		<Card02 />
		<Tarjeta/>
		<Card04 />
	</main>
</Layout>
