---
import Layout from '@/layouts/Layout.astro';
import Card01 from '@/components/Card01.astro';
import Card02 from '@/components/Card02.astro';
import Card03 from '@/components/Card03.astro';
import Tarjeta from '@/components/Tarjeta.astro';


---

<Layout>
	<main class="min-h-screen flex flex-col ">
		<!-- <Card03 />
		<Card01 />
		<Card02 /> -->
		<Tarjeta/>
	</main>
</Layout>
