<section class="mx-auto min-h-screen w-full bg-gray-700 p-5 md-p-10" >
  
    <div class="columns-1 gap-5 lg:gap-8 sm:columns-2 lg:columns-3 xl:columns-4 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(:first-child)]:mt-8
">
        <img src="https://media.istockphoto.com/id/1412675439/photo/idyllic-caribbean-beach-with-palm-trees-punta-cana-saona.jpg?s=1024x1024&w=is&k=20&c=wWcZSTWKgLHEo7ocsp2mVvKivnfvBWcDM73XjPAaDkk=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1442178333/photo/maldives-island.jpg?s=2048x2048&w=is&k=20&c=GN-NuyAB4v8yIVLyLRUtsvtN8AO2i9u3-qoe8i7eu-k=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/833613188/photo/tropical-landscape.jpg?s=2048x2048&w=is&k=20&c=0G05YnmaqPFNJOefp1-EEkB6kDcCW-3uEki04L88e2c=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/2191724214/photo/unique-palm-tree-on-a-tropical-natural-beach-with-turquoise-sea-and-sunny-sky.jpg?s=2048x2048&w=is&k=20&c=4brhWkEFQPr68IR-vENikGF1qwc1VHx-htyPeL8mFWU=" alt="" srcset="">
        <img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-sand-with-coconut-palm-tree-blue-sky-white-cloud_74190-7479.jpg?t=st=1744175705~exp=1744179305~hmac=44fe3014d87d9fd387cf238e21cbfc4f269351cb5bec62fcc746d9527b3cac3b&w=1060" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/498461678/photo/deckchair-with-christmas-santa-hat-at-ocean-beach-during-sunset.jpg?s=2048x2048&w=is&k=20&c=3PHBtAocoxXPJK1FggUpVW-IWN3PchBQPu2Hhc2vPL0=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1036049710/photo/beach.jpg?s=2048x2048&w=is&k=20&c=aZ7vAtYHKvehO49m_9FDGhLJdfjrV7uLavtirjs7l24=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1799323584/photo/tropical-landscape-with-beach-with-coconut-trees-at-sunset.jpg?s=2048x2048&w=is&k=20&c=EqOkwPnDQRP3qKYPucr6NuTtzWVnRVNEpjcSvJsXezg=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1220865776/photo/beaches-of-brazil-carneiro-beach-tamandare-city-pernambuco-state.jpg?s=2048x2048&w=is&k=20&c=voczU4uSObM8ZhHcCyUnqi-Oz6P_ZLlEBut05c9yIxU=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/608540602/photo/aerial-panorama-of-botafogo-bay-rio-de-janeiro.jpg?s=2048x2048&w=is&k=20&c=F-TKZ7j2itFApxcLv0LPblgOnBeGfri0vnC4RVw0L44=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1838183587/photo/idyllic-beach-sri-lanka.jpg?s=2048x2048&w=is&k=20&c=QjGXO7yZshg2GWvpSYnXFa9PvhJQ5Q4HRmQDUNXtxSo=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1381637603/photo/mountain-landscape.jpg?s=2048x2048&w=is&k=20&c=KIQfpt1GjnhLhDPF0-hj8vfjKRFlA8YGMx5XZk09Fjo=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/1245133296/photo/magic-pink-rhododendron-flowers-on-summer-mountain.jpg?s=2048x2048&w=is&k=20&c=EIkou8-lv-Jo_TD757_W4yM6cXmjTuuvN3Iq312EvnU=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/495960906/photo/woman-in-hammock-on-the-beach.jpg?s=2048x2048&w=is&k=20&c=xXfJ2b32rUBTg1dSynlwq-mvZWWhXBDjqoX50FSrr0Q=" alt="" srcset="">
        <img src="https://media.istockphoto.com/id/928866290/photo/happy-woman-walking-on-beach.jpg?s=2048x2048&w=is&k=20&c=wF8wXZSgqMmnvDWNzlQI0rQxTW2nDyuplBJronJ6eqE=" alt="" srcset="">
        
    </div>
</section>

