<section class="bg-gray-100 p-20">
    <article class=" h-[360px] w-[380px] p-6 flex rounded-3xl flex-col justify-between bg-white shadow-sm transition-all hover:shadow-lg">
        <div class="flex flex-col justify-center items-center">
            <img class="h-[140px] w-[140px] rounded-full" 
                 src="https://images.pexels.com/photos/5082976/pexels-photo-5082976.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Mi foto personal">
            <h3 class="mt-8 text-2xl font-bold">Adam Smith</h3>
            <p class="text-gray-400 font-light text-[.9rem] mt-2">Miembro desde Nov 2020</p>
        </div>
        <di class="mt-8 flex justify-center items-center gap-3">
            <div class="flex flex-col items-center">
                <p class="font-bold">120</p>
                <p class="font-light text-[.8rem]">Amigos</p>
            </div>
            <hr>
            <div class="flex flex-col items-center">
                <p class="font-bold">1040</p>
                <p class="font-light text-[.8rem]">Seguidores</p>
            </div>
            <hr>
            <div class="flex flex-col items-center">
            <p class="font-bold">40</p>
            <p class="font-light text-[.8rem]">Publicaciones</p>
            </div>
        </div>
    </article>

</section>