
<section class="text-White  bg-very-dark-blue grid place-content-center font-inter">
    <!-- h-screen -->
    <h2 class="text-lg text-center mb-8 w-[327px]">Frontend Mentor | Start preview card component </h2>
    <div class="w-[327px] rounded-lg bg-Dark-desaturate-blue  grid place-content-center mb-4 overflow-hidden"> 
  
        <picture>
            <source media="(max-width:1280px)" srcset="https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            <source media="(min-width:1280px)" srcset="https://images.pexels.com/photos/2041627/pexels-photo-2041627.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">       
            <img src="https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Imagen de Oficinas con Personal mobil">
        </picture>
    
        <div class="pt-10 px-8 pb-8">
                       
                <h2 class="font-bold text-center text-[1.75em]/[1.1] mb-4 ">
                    Obtenga <span class="text-Soft-violet">información</span> que ayude a su negocio a crecer.
                </h2>
                <p class="text-center text-Slinghtly-transparent-white mb-10 text-[.93em]">Descubra los beneficios del análisis de datos y tome mejores decisiones con respecto a los ingresos, la experiencia del cliente y la eficiencia general.</p>
                <div class="text-center flex flex-col gap-6">
                    <div>
                        <p class="font-bold text-2xl">10k+</p> 
                        <p class="text-[.75em] font-Lexend_Deca text-Slinghtly-transparent-white uppercase tracking-wide">companies</p>
                    </div> 
                    <div><p class="font-bold text-2xl">314</p> 
                        <p class="text-[.75em] font-Lexend_Deca text-Slinghtly-transparent-white uppercase tracking-wide">templates</p>
                    </div> 
                    <div>
                        <p class="font-bold text-2xl">12M+</p> 
                        <p class="text-[.75em] font-Lexend_Deca text-Slinghtly-transparent-white uppercase tracking-wide">queries</p>
                    </div>  
                </div>
        </div>  
    </div>
    
    
    <div class="text-[13px] text-center w-[327px]">
        Challenge by <a href="https://frontenmentor.io?ref=challenge" class="color-a font-bold" 
        target="_blank"> Frontend Mentor </a> 
        Code by <a href="#" class="color-a font-bold" >Josué Francisco Pérez Pérez</a>
    </div>
</section>

<style>
    .color-a {
        color: hsl(228, 45%, 44%) ;
    }
    .border-check{
        border: 2px solid yellow;
    }
</style>

